
<form>
    <table>
    

        <tr>
            {{!-- Title --}}
            {{!-- <th>{{idAttribute}}</th> --}}
            {{#each attributes}}
                <th>{{this}}</th>
            {{/each}}
        </tr>
        <tr>
            {{#each crudInputs}}
                {{#if this.isDropdown}}
                <td>
                    <select class="form-input" id="{{this.attr}}">
                        <option value="">NULL</option>
                        {{#each this.options}}
                            <option value="">{{this}}</option>
                        {{/each}}
                    </select>   
                </td>
                
                {{else}}
                    <td><input class="form-input" type="text" id="{{@key}}" name="{{@key}}"></td>
                {{/if}}
            {{/each}}
        </tr>
    </table>
    <button type="submit" id="create-row-button">Create Row</button>
    <button type="submit" id="update-row-button">Update Row</button>
    <button type="submit" id="replace-table-button" class="replace-table-button">Replace Table Data</button>
</form>

{{#if search}}
<label for="investorIDFilter">Filter by InvestorID:</label>
    <select id="investorIDFilter">
        <option value="">All</option>
    </select>
{{/if}}
