<form>
    <table>
        <tr>
            {{#each attributes}}
                <th>{{this}}</th>
            {{/each}}
        </tr>
        {{!-- <tr>
            {{#each attributes}}
                <td><label for="{{this}}">{{this}}</label></td>
            {{/each}}
        </tr> --}}
        <tr>
            {{#each attributes}}
                <td><input type="text" id="{{this}}" name="{{this}}"></td>
            {{/each}}
        </tr>
    </table>
    <button type="submit" id="create-row-button">Create Row</button>
    <button type="submit" id="update-row-button">Update Row</button>
    <button type="submit" id="replace-table-button" class="replace-table-button">Replace Table Data</button>
</form>