<!-- crudForm.hbs -->
<form>
    <table>
        <tr>
            {{!-- Title --}}
            {{#each attributes}}
                <th>{{this}}</th>
            {{/each}}
        </tr>
        <tr>
            {{#each crudInputs}}
                {{#if this.isDropdown}}
                    <td>
                        <select class="form-input" id="{{this.attr}}">
                            <option value="">NULL</option>
                            {{#each this.options}}
                                <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>   
                    </td>
                {{else if this.isDate}}
                    <td><input class="form-input" type="date" id="{{@key}}" name="{{@key}}" value="{{this.dateVal}}"></td>
                {{else}}
                    <td><input class="form-input" type="text" id="{{@key}}" name="{{@key}}"></td>
                {{/if}}
            {{/each}}
        </tr>
    </table>
    <button class="crud" type="submit" id="create-row-button">Create {{buttonTitle}}</button>
    <button class="crud" type="submit" id="update-row-button">Update existing {{buttonTitle}}</button>
    <button class="crud replace-table-button" type="submit" id="replace-table-button" >Replace {{buttonTitle}} data</button>
</form>

{{#if search}}
<label for="investorIDFilter">Filter by InvestorID:</label>
    <select id="investorIDFilter">
        <option value="">All</option>
    </select>
{{/if}}
