<!-- investedStocks.hbs -->

{{!-- Title --}}
<h2>Invested Stocks Page</h2>

{{!-- Create a table --}}
<table>
    {{!-- Header section --}}
    <thead>
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>
    
    {{!-- Body section --}}
    <tbody>
        {{!-- Navigation Bar --}}
        {{>navBar_editor}}

        {{!-- For each row, print the investedStockID, stockID, investID, quantity and investment in order --}}
        {{#each data}}
        <tr>
            <td>{{this.investedStockID}}</td>
            <td>{{this.stockID}}</td>
            <td>{{this.investID}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.investment}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- CRUD Form --}}
{{>crudForm}}